*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.logo {
  position: relative;
  width: 500px;
  height: 500px;
}

.circle {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: #135bec;
}

.circle-front {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-back {
  border-radius: 50%;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #135bec;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@media print {
  .logo {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 2rem auto;
  }

  .circle {
    margin: 2rem auto;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #135bec;
  }

  .circle-front {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle-back {
    border-radius: 50%;
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #135bec;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}
