*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  gap: 8px;
}

.app header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.app .image-upload,
.app .color-choose {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.app .image-upload h1,
.app .color-choose h1,
.app .logo-generator h1 {
  font-size: 1.5rem;
  text-align: center;
}

.app .image-upload .upload-drop {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.app .image-upload .upload-drop input {
  width: 212px;
}

.app .image-upload .crop-container {
  position: relative;
  height: 400px;
}

.app .image-upload label {
  width: fit-content;
  margin: auto;
}

.app .image-upload button {
  background-color: #135bec;
  color: white;
  height: 40px;
}

.app .color-choose .border-options {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.app .color-choose .border-options .option {
  display: flex;
  gap: 8px;
}

.app .logo-generator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.app .logo-generator .printable {
  transform: scale(0.7) translateY(-72px);
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  align-items: center;
}

.app .color-choose button,
.app .logo-generator button {
  width: 160px;
  background-color: #135bec;
  color: white;
  height: 32px;
}

.logo {
  position: relative;
  width: 10.842cm;
  height: 10.842cm;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1pt solid blue;
}

.circle-front {
  position: absolute;
  z-index: 1;
  width: 10cm;
  height: 10cm;
}

.circle-back {
  position: absolute;
  width: 10.2cm;
  height: 10.2cm;
  background-color: none;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 4%;
  right: 4%;
  background-color: blue;
  z-index: 2;
}

@media only screen and (min-width: 992px) {
  .app {
    max-width: 1280px;
    margin: 2rem auto;
  }

  .app .logo-generator {
    gap: 8px;
  }

  .app .logo-generator .printable {
    transform: none;
    flex-flow: row nowrap;
  }
}

@media print {
  .logo {
    box-sizing: border-box;
    position: relative;
    width: 10.842cm;
    height: 10.842cm;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt solid blue;
  }

  .circle-front {
    position: absolute;
    z-index: 1;
    width: 10cm;
    height: 10cm;
  }

  .circle-back {
    position: absolute;
    width: 10.2cm;
    height: 10.2cm;
    background-color: none;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: blue;
    z-index: 2;
  }
}
